<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live tennis scores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <p class="title">
        Live tennis scores!
      </p>
      <p class="subtitle">
        See who's playing
      </p>
    </div>
  </section>
  <body>
  <section class="section">
    <div class="container">
        <div class="content is-large"> 
          {% for tournament in live_scores.keys() %}
            <h1> {{ tournament }} </h1>
            {% for match in live_scores[tournament] %}
              <table class="table is-hoverable">
                <tbody>
                  <tr>
                    {% if match['player1cc'] == "" %}
                      <td> {{ match['player1'] }} </td>
                    {% else %}
                      <td> <img src="{{ match['player1cc'] }}" alt="{{ match['player1'] }}"> {{ match['player1'] }} </td>
                    {% endif %}
                    <td> {{ match['player1set1']}} </td>
                    {% if match['player1set2'] != -1: %} 
                      <td> {{ match['player1set2'] }} </td>
                    {% endif %}
                    {% if match['player1set3'] != -1: %} 
                      <td> {{ match['player1set3'] }} </td>
                    {% endif %}
                    {% if match['player1set4'] != -1: %} 
                      <td> {{ match['player1set4'] }} </td>
                    {% endif %}
                    {% if match['player1set5'] != -1: %} 
                      <td> {{ match['player1set5'] }} </td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if match['player2cc'] == "" %}
                      <td> {{ match['player2'] }} </td>
                    {% else %}
                      <td> <img src="{{ match['player2cc'] }}" alt="{{ match['player2'] }}"> {{ match['player2'] }} </td>
                    {% endif %}
                    <td> {{ match['player2set1']}} </td>
                    {% if match['player2set2'] != -1: %} 
                      <td> {{ match['player2set2'] }} </td>
                    {% endif %}
                    {% if match['player2set3'] != -1: %} 
                      <td> {{ match['player2set3'] }} </td>
                    {% endif %}
                    {% if match['player2set4'] != -1: %} 
                      <td> {{ match['player2set4'] }} </td>
                    {% endif %}
                    {% if match['player2set5'] != -1: %} 
                      <td> {{ match['player2set5'] }} </td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            {% endfor %}
          {% endfor %}
        </div>
    </div>
  </section>
  </body>
</html>