<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Tennis Scores</title>
</head>
<body>
    <h1>Live Tennis Scores</h1>
    <ul>
        { % for score in scores % }
        <li></li> 
        { % endfor % }
    </ul>
    <!-- <h4> {{ live_scores.player1set1[i] }} - {{ live_scores.player2set1[i] }}</h4> -->
    <!-- <h1> {{ live_scores['tournament_type'][l-1] }} {{ live_scores['tournament'][l-1] }}</h1>
          <h4> {{ live_scores['player1'][l-1] }} vs {{ live_scores['player2'][l-1] }} </h4> -->
</body>
</html>